<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    <h1>Welcome to the Game</h1>

    <p>Please enter the following values:</p>

    <form action="/madlib">
        <label>Enter a person's name:</label>
        <input type="text" name="person">
        <br>
        <label>Enter a color:</label>
        <input type="text" name="color">
        <br>
        <label>Enter a noun:</label>
        <input type="text" name="noun">
        <br>
        <label>Enter an adjective:</label>
        <input type="text" name="adjective">
        <br>
        <label>Choose a noun.</label>
        <select name="noun_2">
            <option value="bird">bird</option>
            <option value="llama">llama</option>
            <option value="toothbrush">toothbrush</option>
            <option value="forehead">forehead</option>

        </select>
        <br>
        <label>Choose a verb.</label>
        <input type="checkbox" name="run" value="run">
        <label>run</label>
        <input type="checkbox" name="jump" value="jump">
        <label>jump</label>
        <input type="checkbox" name="wrap" value="wrap">
        <label>wrap</label>
        <input type="checkbox" name="sing" value="sing">
        <label>sing</label>
        <br>
        <input type="submit">
    </form>
</body>
</html>