<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    <h1>Welcome to the Game</h1>

    <p>Please enter the following values:</p>

    <form action="/madlib">
        <label>Enter a person's name:</label>
        <input type="text" name="person">
        <br>
        <label>Enter a color:</label>
        <input type="text" name="color">
        <br>
        <label>Enter a noun:</label>
        <input type="text" name="noun">
        <br>
        <label>Enter another noun:</label>
        <input type="text" name="noun_3">
        <br>
        <label>Enter an adjective:</label>
        <input type="text" name="adjective">
        <br>
        <label>Choose a noun.</label>
        <select name="noun_2">
            <option value="bird">bird</option>
            <option value="llama">llama</option>
            <option value="toothbrush">toothbrush</option>
            <option value="forehead">forehead</option>

        </select>
        <br>
        <label>Choose a verb.</label>
        <input type="checkbox" name="verb" value="ran">
        <label>ran</label>
        <input type="checkbox" name="verb" value="jumped">
        <label>jumped</label>
        <input type="checkbox" name="verb" value="wrapped">
        <label>wrapped</label>
        <input type="checkbox" name="verb" value="sung">
        <label>sung</label>
        <br>
        <input type="submit">
    </form>
</body>
</html>